@use "_reset.scss";
@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $bg;
}

main {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 1px;
  height: 100%;
  & > * {
    background-color: white;
  }
  .numbers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
    background-color: $bg;
    .number {
      @include list;
    }
  }
  .imges {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    img {
      width: 720px;
      height: 690px;
      object-fit: cover;
    }
    .hidden {
      display: none;
    }
  }
  span {
    &:nth-child(3) {
      @include list;
    }
  }
  .last-text {
    color: $bg;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    span {
      text-transform: uppercase;
      animation: text 1s ease-in-out both;
    }
  }
}

@keyframes text {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
